:root {
    --color-button-black: #1F1F1F;
    --color-button-white: #FFFFFF;
    --color-button-yellow: #FBCE51;
    --color-logo: #595653;
    --color-running-line-bg: #F54932;
    --color-text-black: #313131;
    --color-common-white: #FFFFFF;
}
